<div sidebarjs>
      <h3>Lagos internal revenue service</h3>
      <nav>
        <div>
          <a href="/"><div class="img github"></div>Home</a>
          <a href="admins/adminlogin"><div class="img npm"></div>Admin</a>
          <a href="users/login"><div class="img author"></div>Tax Payer</a>
        </div>
        <div>
          <a href="https://github.com/SidebarJS/sidebarjs/wiki/Setup"><div class="img wiki"></div>contact us</a>
          <a href="https://github.com/SidebarJS/sidebarjs/issues"><div class="img bugs"></div>exit</a>
         <!-- <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>-->
        </div>
      </nav>
    </div>

    <main>
      <header>
        <div class="icon hamburger-icon" sidebarjs-toggle></div>
        <h2>Lagos internal revenue services</h2>
      </header>

      <a target="_blank" id="selected">
        <div class="img"></div>
        <div class="label"></div>
      </a>
        
        <section>
            <img class="navbar-brand" src="/css/img/logo-header.png" alt="gorakonnect">
            <h1>Welcome to Lagos Inland Revenue Service, click the link name displayed</h1>
        </section>

     
    </main>