           

           

            <img class="navbar-brand" src="/css/img/logo-header.png" alt="gorakonnect">
            <h2 class="page-header">Welcome to Lagos Inland Revenue Service</h2>
        




<p>welcome {{user.name}}</p>