         <nav> 
             <ul>
          <li><a href="TPdeclaration">Tax Declaration</a></li>
           <li><a href="TPpayment">Tax Payment</a></li>
           </ul>
           </nav>

           <button class="accordion">CAPITAL GAIN TAX</button>
<div class="panel">
    <P>jjhhhgjhyjjhjhjh</P>
</div>

<button class="accordion">EDUCATION TAX</button>
<div class="panel">
    <P>jjhhhgjhyjjhjhjh</P>
</div>

<button class="accordion">PAY-AS-YOU EARN</button>
<div class="panel">
    <P>jjhhhgjhyjjhjhjh</P>
</div>

